<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link href="/stylesheets/cover.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand"><a class="navlogo" href="/">{{title}}</a></h3>
      <nav class="nav nav-masthead justify-content-center">
        {{#if user}}
          <a class="nav-link" href="/user/{{user._id}}/profile">Profile</a>
          <a class="nav-link" href="/user/logout">Log Out</a>
          <a class="nav-link" href="/post/new">New Post</a>
          {{else}}
            <a class="nav-link" href="/user/signup"> Sign Up</a>
            <a class="nav-link" href="/user/login">Log In</a>
        {{/if}}
          <a class="nav-link" href="/post/all">Show all Posts</a>
      </nav>
    </div>
  </header>
    
  {{{body}}}
  {{#if message}}
  {{message}}
  {{/if}}
   <footer class="mastfoot mt-auto">
      <div class="inner">
        <p class="smallFoot"><a href="https://github.com/opachano" target="_blank">GitHub</a> or  <a href="https://www.linkedin.com/in/opachano/" target="_blank">LinkedIn</a></p>
        <p class="bigFoot">Website made by Oscar Pachano. Follow me on:  <a href="https://github.com/opachano" target="_blank">GitHub</a> or  <a href="https://www.linkedin.com/in/opachano/" target="_blank">LinkedIn</a>.</p>
      </div>
    </footer>
  </div>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.bundle.js"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>