<head>
   <link href="/stylesheets/signin.css" rel="stylesheet">
</head>

<div class="postsMain">
  {{#if user.image}}
  <img id="profilePic" src="{{user.image}}" alt="">
  {{/if}}
  <div id="profileInfo">
    <div class="profileItems"><h1>Username:</h1> <h2>@{{user.username}}</h2></div>
    <div class="profileItems"><h1>First Name:</h1> <h2>{{user.firstName}}</h2></div>
    <div class="profileItems"><h1>Last Name:</h1> <h2>{{user.lastName}}</h2></div>
    <div class="profileItems"><h1>Email:</h1> <h2>{{user.email}}</h2></div>
    <div class="profileItems"><h1>Member Since:</h1> <h2>{{user.date}}</h2></div>
    <a href="/user/{{user._id}}/edit" class="btn btn-lg btn-secondary">Edit Profile</a>
  </div>
</div>
